<h4 class="display-5" style="text-align: center;margin-top: 4%;color: black;">Contact Us</h4>

<p style="margin-left: 15%; margin-right: 15%;margin-top: 3%; text-align: justify;color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus voluptatibus officiis, eligendi nostrum natus! Perferendis, quis saepe. Soluta beatae praesentium ullam nesciunt sequi eos totam provident perspiciatis doloremque obcaecati.</p>
<br>
<p style="margin-left: 15%; margin-right: 15%;text-align: justify;color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus voluptatibus officiis, eligendi nostrum natus! Perferendis, quis saepe. Soluta beatae praesentium ullam nesciunt sequi eos totam provident perspiciatis doloremque obcaecati.</p>
<br>
<p style="margin-left: 15%; margin-right: 15%;margin-bottom: 3%; text-align: justify;color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus voluptatibus officiis, eligendi nostrum natus! Perferendis, quis saepe. Soluta beatae praesentium ullam nesciunt sequi eos totam provident perspiciatis doloremque obcaecati.</p>
<br>

<div class="mb-3" style="margin-left: 15%; margin-right: 15%;">
    <label for="exampleFormControlInput1" class="form-label" style="color: black;">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3" style="margin-left: 15%; margin-right: 15%;">
    <label for="exampleFormControlTextarea1" class="form-label" style="color: black;">Messages</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>

  <div class="mb-3 form-check" style="margin-left: 15%; margin-right: 15%;">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1" style="color: black;">I agree to Terms</label>
  </div>

 
<input class="btn btn-primary" style="width: 70%;margin-left: 15%;margin-top: 1%;" type="submit" value="Submit">